<script src="~/Scripts/Login/LoginDetail.js"></script>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>




<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row" style="text-align: center;  margin-top: 150px; background-color: darkgrey;">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <center> <h3 class="card-title">Login</h3></center>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post))
                                {
                                    <div class="card-body">
                                        <div class="form-group" style="display: flex; justify-content: center;">

                                            <label for="exampleInputEmail1">User Id</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <input type="email" name="email" required class="form-control" id="exampleInputEmail1" placeholder="User Id">

                                        </div>
                                        <div class="form-group" style="display: flex; justify-content: center;">
                                            <label for="exampleInputPassword1">Password</label>&nbsp;&nbsp;&nbsp;
                                            <input type="password" name="password" required class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                                <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <center><button type="submit" class="btn btn-primary" id="">Submit</button></center>

                                    </div>
                                }

                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">

                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->


</body>

<script>
    $(function () {
        $("form[name='registration']").validate({
            errorClass: "my-error-class",
        });
    });
</script>





